In [5]:
a ={
    "name":"Amrita",
    "address":"Tikathali",
    "number":"9823058935",
}
print(type(a))
a

<class 'dict'>

{'name': 'Amrita', 'address': 'Tikathali', 'number': '9823058935'}

In [6]:
# accessing the dict
print(a['number'])

9823058935

In [7]:
# accessing the multiple value
a.values()

dict_values(['Amrita', 'Tikathali', '9823058935'])

In [9]:
# accessing the multiple key
a.keys()

dict_keys(['name', 'address', 'number'])

In [10]:
a ={
    "name":['amrita','aarati','amish'],
    "phone number": ['9823058935', '9811556644','9867231556']
}
print(a['name'][0])

amrita

In [4]:
# using update method
a={
    "name":"broadway",
    "phone":"980"
}
a.update({"age":15})
a

{'name': 'broadway', 'phone': '980', 'age': 15}

In [6]:
#clear
a={
    "name":"broadway",
    "phone":"980"
}
a.clear()
print("clear method is used",a)

clear method is used {}

In [9]:
#delete
a= {
    "name":"broadway",
    "phone":"980"
}
del a
a

NameError: name 'a' is not defined

In [17]:
# pop elements in dict

a= {
    "name":"broadway",
    "phone":"980"
}
a.pop('name')
a

data = {
    "city" : "dang",
    "workcity" : "kathmandu",
    "address":"Tinkune"
}
data.popitem()
print(data)

{'city': 'dang', 'workcity': 'kathmandu'}

In [19]:
# copy
a= {
    "name":"broadway",
    "phone":"980"
}
b = a.copy()
print("copy dict",b)

copy dict {'name': 'broadway', 'phone': '980'}

In [21]:
#typecasting
a= {
    "name":"broadway",
    "phone":"980"
}
b = dict(a)
a

{'name': 'broadway', 'phone': '980'}

In [32]:
# Nested Dict
data ={
    "name": "amrita",
    "school":{
        "name":"nobel",
        "address":"test"
    },
}
school = data["name"]
school1 = data.get("school")
#print(school["address"])c
print(school,school1)

amrita {'name': 'nobel', 'address': 'test'}

In [3]:
# Homework
data ={
    "name": "amrita",
    "school":[
       {
        "name":"Nobel",
        "address":"New Baneshwor",
       },
       {
        "name" : "KOPESS",
        "address":"Jadibuti"
       },
    ],
}
print(data["school"][0]["name"]+"-"+ data["school"][0]["address"])
# output=Nobel-New Baneshwor- Kopess- Jadibuti

Nobel

In [29]:
# get 
data ={
    "name": "amrita",
    "school":{
        "name":"nobel",
        "address":"test"
    },
}
school = data["name"]
school1 = data.get('name',"test-key")
# print(school["address"])c
print(school,school1)

amrita amrita